..wrapper {
  width: 80vw;
  height: 100%;
  margin: 0 auto;
}

.filler {
  height: 1vh;
}

/* first section */

.fashionpics{
  width: -5px;
  height: -10px;
  background: white;
  margin: 20px;
  text-align: center;
}

.firstSection {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.button1 {
  background-color: white; 
  border: none;
  color: black;
  padding: 13px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}


.heroTwo {
  background: rgb(250, 193, 118);
  width: 100%;
  height: 25vh;
}

/* homeware section */

.living {
  background: white;
  margin: 10px;
  position: relative;
}

.thirdSection {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.button2 {
  background-color: white; 
  border: none;
  color: black;
  padding: 13px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}


/* Card Section */

.cardWrapper {
  width: 95vw;
  height: 100%;
  background: white;
}

.cardSection {
  width: 90vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.card {
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: 1px 3px 4px lightgray;
  margin: 20px;
}

.card:hover {
  box-shadow: 5px 5px 5px lightgray;
}

.card img {
  padding: 10px;
}

.card button {
  margin: 10px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

@media (max-width: 700px) {
  .cardSection {
    flex-direction: column;
  }
}